<h3>Basic Buttons</h3>
<button mat-button>Basic Button</button>
<button mat-button color="primary">Primary</button>
<button mat-button color="accent">Accent</button>
<button mat-button color="warn">Warn</button>
<button mat-button disabled>Disabled</button>

<hr>
<h3>Raised Buttons</h3>
<button mat-raised-button>Raised Button</button>
<button mat-raised-button color="primary">Primary</button>
<button mat-raised-button color="accent">Accent</button>
<button mat-raised-button color="warn">Warn</button>
<button mat-raised-button disabled>Disabled</button>

<hr>
<h3>Stroked Buttons</h3>
<button mat-stroked-button>Stroked Button</button>
<button mat-stroked-button color="primary">Primary</button>
<button mat-stroked-button color="accent">Accent</button>
<button mat-stroked-button color="warn">Warn</button>
<button mat-stroked-button disabled>Disabled</button>

<hr>
<h3>Flat Buttons</h3>
<button mat-flat-button>Stroked Button</button>
<button mat-flat-button color="primary">Primary</button>
<button mat-flat-button color="accent">Accent</button>
<button mat-flat-button color="warn">Warn</button>

<hr>
<h3>Icon Buttons</h3>
<button mat-icon-button>
  <mat-icon>more_vert</mat-icon>
</button>
<button mat-icon-button color="primary">
  <mat-icon>sync</mat-icon>
</button>
<button mat-icon-button color="accent">
  <mat-icon>settings</mat-icon>
</button>
<button mat-icon-button color="warn">
  <mat-icon>done_all</mat-icon>
</button>
<button mat-icon-button disabled>
  <mat-icon>drag_indicator</mat-icon>
</button>


<hr>
<h3>Fab Buttons</h3>
<button mat-fab>
  <mat-icon>file_download</mat-icon>
</button>
<button mat-fab color="primary">
  <mat-icon>download_done</mat-icon>
</button>
<button mat-fab color="accent">
  <mat-icon>install_mobile</mat-icon>
</button>
<button mat-fab color="warn">
  <mat-icon class="mat-18">clear_all</mat-icon>
</button>
<button mat-fab disabled>
  <mat-icon>hide_source</mat-icon>
</button>

<hr>
<h3>Fab Mini Buttons</h3>
<button mat-mini-fab>
  <mat-icon>move_down</mat-icon>
</button>
<button mat-mini-fab color="primary">
  <mat-icon>reply_all</mat-icon>
</button>
<button mat-mini-fab color="accent">
  <mat-icon>add</mat-icon>
</button>
<button mat-mini-fab color="warn">
  <mat-icon>check</mat-icon>
</button>
<button mat-mini-fab disabled>
  <mat-icon>more_horiz</mat-icon>
</button>
