div{
  margin-top: 10px;
  margin-bottom: 10px;
}

.example-header-image {
  background-image: url('../../../assets/images/anime_avatar.png');
  background-size: cover;
}

mat-card{
  width: 450px;
  margin: 4px 10px;
}

.container{
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}
