<h3 matDialogTitle>
  This is a customized component
</h3>


<mat-dialog-content>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores odit, cum odio voluptates tempore
  quasi, aperiam magni tempora, hic ipsa quod voluptate. Mollitia similique facilis, expedita eos nostrum nulla cumque
  a quidem cum vero quia. Dolorum eum sit voluptates aliquid ipsa quo laudantium molestias assumenda, obcaecati,
  quidem iusto voluptatibus totam neque corporis doloribus molestiae at est. Eius rem maxime voluptates illum vitae
  non explicabo officia suscipit necessitatibus ipsam! Cupiditate dolorum aspernatur iusto, itaque corrupti omnis,
  recusandae sapiente iure error a neque aut reprehenderit repellat eveniet et ullam ad doloribus eius saepe molestiae
  quo, hic rerum? Expedita quibusdam tempora, facere corporis tempore ipsam laudantium dolor. Deserunt corporis
  pariatur, repellat iure nihil vero officia omnis minus totam vel mollitia. Maxime esse nesciunt recusandae illo!
  Error maxime animi et molestiae doloribus quasi recusandae eius suscipit itaque non ducimus doloremque ipsam
  nesciunt, omnis laboriosam nisi exercitationem debitis odit consequuntur, sit corrupti ad magni? In, voluptatum
  eveniet et deserunt expedita quo. Quibusdam recusandae magnam cumque dolores, placeat error voluptatum impedit fugit
  veniam voluptas est nam, sed quo iure asperiores eveniet temporibus saepe debitis suscipit hic? Voluptatibus maiores
  tempora esse expedita excepturi porro, veritatis sit dignissimos dolores magnam laboriosam nesciunt est ea odit!
  Vitae provident quia, vero soluta officia labore voluptates alias velit impedit odio illum nihil dolorum quae ipsum
  quasi. Ratione repellendus ad, eos atque optio nostrum nulla voluptatibus corporis, ea necessitatibus veritatis
  accusantium nisi delectus est. Aspernatur quidem in dolorum laborum nam. Quaerat sunt cumque voluptas non neque
  obcaecati asperiores hic eaque sapiente omnis nostrum labore delectus necessitatibus officiis reiciendis ea fugiat,
  illum voluptate? Modi quibusdam aperiam quis natus at. Voluptatibus, ipsam magnam! Odit odio repudiandae voluptatum
  blanditiis corporis alias dicta, aut hic aliquid omnis repellat iure, natus tenetur maiores eveniet. Recusandae, cum
  minus earum fugiat, ullam pariatur error maxime, aliquam iusto debitis vero?
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button [matDialogClose]="'This is a closing message'">
    <mat-icon>close</mat-icon>
    <span>Close</span>
  </button>

</mat-dialog-actions>
